.settings
installed_by_*
#*.project
#*.pydevproject
.directory
*.egg-info
*.log
.figleaf
figleaf_results
build/
dist/
*~
*.pyc
cqde*.tar.gz
install.tar.gz
.*.swp
release/

.subversion
.idea
fabfile.ini
# By default, fabric task dist.buildext
# uses ext/plugins to store the external plugins downloaded
ext/plugins

# Tests
tests/webtests/chromedriver.log
tests/webtests/tests.ini
tests/perf/smoke-test.xml*
tests/perf/smoke-bench.xml*
tests/perf/MultiprojectTestCase.conf
tests/functional/log.html
tests/functional/output.xml
tests/functional/report.html
selenium-screenshot-*.png
