.settings
installed_by_*
#*.project
#*.pydevproject
.directory
*.egg-info
*.log
.figleaf
figleaf_results
build/
dist/
*~
*.pyc
cqde*.tar.gz
install.tar.gz
.*.swp
release/
TracNokiaTheme-minimized

.subversion
.idea
fabfile.ini

# Tests
tests/webtests/chromedriver.log
tests/webtests/tests.ini
tests/perf/smoke-test.xml*
tests/perf/smoke-bench.xml*
tests/perf/MultiprojectTestCase.conf
