[DEFAULT]
# Path to page definition file, relative to this file
page_definitions = pages/definitions/default.ini
vcs = svn

[general]
# Setup to test
setup = localhost
style = default.ini

[localhost]
host = http://localhost/
user = myaccount
password = GDe43200aeeg

[production]
host = http://production.domain.com/
user = myaccount
password = GDe43200aeeg
vcs = git
