#files .greenbutton-lr
{
    width: 120px;
    background:transparent url(../images/green-button-lr.png) no-repeat 0 0;
    font-size:12px;
    font-weight:bold;
    height:25px;
    line-height:25px;
    position:static;
    text-shadow:1px 1px 1px #ADABA3;
    color:white;
    padding:0 0 0 0;
    border-width: 0px;
    text-align:center;
  }

#files .expanderbutton_open {
  background: url("../images/expander_button.png") no-repeat scroll -15px 0 transparent;
  min-width:15px;
  min-height:16px;
  width:15px;
  height:16px;
  cursor:pointer;
}

#files .expanderbutton_closed {
  background: url("../images/expander_button.png") no-repeat scroll 0 0 transparent;
  min-width:15px;
  min-height:16px;
  width:15px;
  height:16px;
  cursor:pointer;
}

#files .delete_button {
  background: url("/htdocs/theme/images/delete_button_x.png") no-repeat scroll 0 0 transparent;
  min-width:13px;
  min-height:13px;
  width:13px;
  height:13px;
  cursor:pointer;
}

#files .progressBarPending {
  min-height:12px;
  height:12px;
  background-color:#DDDDDD;
}

#files .progressBarUploading {
  min-height:12px;
  height:12px;
  background-color:#0239DB;
}

#files .progressBarComplete {
  min-height:12px;
  height:12px;
  width:100%;
  background-color:#0B9709;
}

#files .progressBarError {
  min-height:12px;
  height:12px;
  width:100%;
  background-color:#DD2222;
}

#files .pbarleft {
  background:url("../images/files_pbar_left.png") no-repeat scroll 0 0 transparent;
  height:31px;
  display:inline;
  min-width:9px;
  float:left;
  left:0px;
}

#files .pbarright {
  background:url("../images/files_pbar_right.png") no-repeat scroll 0 0 transparent;
  height:31px;
  display:inline;
  min-width:8px;
  float:right;
  right:0px;
}

#files .progbarleft {
  background:url("../images/progbarleft.png") no-repeat scroll 0 0 transparent;
  height:23px;
  display:inline;
  min-width:8px;
  float:left;
}

#files .progbarright {
  background:url("../images/progbarright.png") no-repeat scroll 0 0 transparent;
  height:23px;
  display:inline;
  min-width:8px;
  float:right;
}
#files .progbarleftB {
  background:url("../images/progbarleftB.png") no-repeat scroll 0 0 transparent;
  height:23px;
  display:inline;
  min-width:8px;
  float:left;
  visibility:hidden;
}

#files .progbarrightB {
  background:url("../images/progbarrightB.png") no-repeat scroll 0 0 transparent;
  height:23px;
  display:inline;
  min-width:8px;
  float:right;
  visibility:hidden;
}

#files .progressContainer {
  width: 923px;
  margin-left:10px;
  margin-bottom:10px;
  padding-top:0px;
  background:#FFFFFF;
  min-height:31px;
  display:block;
  position:relative;
}

#files .progressCancel {
  float:right;
  visibility:hidden;
  left:833px;
  top:9px;
  position:absolute;
  font-size:14px;
  font-weight:bold;
}

#files .progressCancel:link,
#files .progressCancel:visited,
#files .progressCancel:active,
#files .progressCancel:hover
{
  text-decoration: none;
}

#files .progressName {
  float:left;
  display:inline;
  min-width:150px;
  max-width:150px;
  left:10px;
  top:9px;
  position:absolute;
}

#files .progressBarBG {
  float:left;
  display:inline;
  width:650px;
  min-width:650px;
  min-height:21px;
  background:#D1D1D1;
  position:relative;
  left:160px;
  top:4px;
  position:absolute;
}

#files .progressBarUploading {
  width:0px;
  min-height:23px;
  float:left;
  background:#305295;
  position:absolute;
  left:0px;
  top:0px;
}

#files .status {
  color:#AAAAAA;
  font-weight:bold;
  position:absolute;
  left:280px;
  top:3px;
  min-width:100px;
}

#files .progressWrapper {
  width:943px;
  padding-top:5px;
  min-height:40px;
}


#files .delete {
  background-position:0 50%;
  background-repeat:no-repeat;

}

#files .ltgreyfield
{
    background:#f5f5f5;
    width: 490px;
    height:25px;
    line-height:28px;
    position:static;
    padding:0 5px;
    padding:0 0 0 0;
    border-width: 0px;
}


#files #buttonbar {
  margin-left:10px;
  margin-right:10px;
  padding-bottom:10px;
}

#files #buttonbar .greenInputBtn.greyBg {
  background: url("../images/buttons_greybg.gif") no-repeat scroll left bottom transparent;
}

#files #buttonbar .greenInputBtn input {
  background:url("../images/buttons_greybg.gif") no-repeat scroll right bottom transparent;
}

#files #uploadbar {
  padding-top:10px;
  margin-top:-24px;
  background-color:#dddddd;
  display:block;
  min-height:40px;
  width:943px;
}

#files #mountbarright {
  display:inline;
  background: url("../images/files_mount_bar_right.png") no-repeat scroll left bottom transparent;
}

#files table td.name {
    width: 50%;
}

#files table tr.even {
    background-color: transparent;
}

#files #filesaddress {
    background-color: white;
    border: 1px solid #EBEBEB;
    display: inline-block;
    height: 13px;
    margin-left: 10px;
    margin-right: 1px;
    margin-top: 0;
    overflow: hidden;
    padding: 5px;
    white-space: nowrap;
    width: 530px;
}

.mounturl { height: 40px; }

#mounttext, #filesaddress {
    float: left;
}

#mounttext {
    padding-top: 6px;
}

#helplink {
    padding-top: 6px;
    color: #395796;
    float: right;
    cursor: help;
}

#copybutton {
    margin-left: 2px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    background: url("/htdocs/theme/images/tab_bg.png") no-repeat scroll right center transparent;
    height: 26px;
}

/* From browser.css */
#dirlist td.name a.dir { background-image: url(/htdocs/trac/folder.png) }
#dirlist td.name a.file { background-image: url(/htdocs/trac/file.png); display: block }
#dirlist td.name a.parent { background-image: url(/htdocs/trac/parent.png) }

/* Fix for too small area for parent directory icon */
#dirlist td.name a.parent { font-size: 14px; }

#dirlist td.name a, table.dirlist td.name span {
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 20px;
}
