form.premium-account-form, .premium-account-form fieldset {
  border: 0;
  background: transparent;
}

form.premium-account-form select, form.premium-account-form input, form.premium-account-form textarea {
  font-size: 100%; /* IE hack */
  font-family: inherit;
}

.change-notifications-container {
  background: transparent url(../images/change_notifications_bg.png) top left no-repeat;
  padding-top: 8px;
  margin-bottom: 14px;
  zoom: 1;
}

.change-notifications-container .hovered {
  background-color: #eeeeee
}

.change-notifications-content-container {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
}

.change-notifications-content {
  background: #f8f8f8 url(../images/change_notifications_inner_bg.png) top left repeat-x;
  padding: 2px 10px 0 5px;
}

.change-notifications-title {
  padding-left: 6px;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 7px;
}

.change-notifications-footer {
  background: transparent url(../images/change_notifications_bg.png) bottom left no-repeat;
  height: 8px;
  line-height: 0;
  font-size: 0;
}

.changer-notifications-container {
  padding-bottom: 5px
}

.change-notification {
  padding: 5px;
  zoom: 1;
}

.changer-title {
  padding: 0 5px 2px 5px;
  width: 500px;
}

.changer-title a {
  font-weight: bold
}

.changed-field-name {
  float: left;
  width: 90px;
  display: inline;
  font-weight: bold;
}

.changed-field-value {
  float: left;
  width: 450px;
  margin-left: 20px;
  display: inline;
}

.changed-user-field-info {
  float: left;
  width: 550px;
  display: inline;
}

.notifications-hr {
  margin: 5px 5px 8px 5px;
  height: 1px;
  background-color: #ccc;
  padding: 0;
  line-height: 0;
  font-size: 0;
}

.user-change-notifications .change-notification {
  padding: 5px 5px 4px 5px
}

.change-action-accept, .change-action-reject {
  float: left;
  margin-left: 10px;
}

.form-toggle-section {
  background: transparent url(../images/green_toggle_header_bg.png) top left repeat-x;
  margin-bottom: 3px;
}

.toggle-section-header {
  font-size: 15px;
  color: #fff;
  height: 28px;
  line-height: 28px;
  padding: 0 30px;
  font-weight: bold;
  background: blue url(../images/form_section_arrow_down.gif) 12px 11px no-repeat;
  cursor: pointer;
}

.form-toggle-section-closed .toggle-section-header {
  background: transparent url(../images/form_section_arrow_right.gif) 16px 8px no-repeat
}

.toggle-section-fields {
  padding: 10px 12px 10px 12px
}

.form-toggle-section-closed .toggle-section-fields {
  display: none
}

.section-fields-info {
  margin-bottom: 10px
}

.sub-section-fields {
  padding-bottom: 8px
}

.form-toggle-section h4 {
  color: #000;
  margin: 0;
  padding: 0 0 5px 0;
}

.form-toggle-section label {
  color: #000;
  font-weight: normal;
  padding-bottom: 3px;
}

.form-toggle-section .readonly {
  color: #9a9a9a
}

.form-toggle-section label.inline-label {
  display: inline-block;
  padding-right: 15px;
}

.form-cols3 {
  width: 30%;
  margin-right: 3%;
  float: left;
  display: inline;
  padding-bottom: 8px;
}

.form-cols3 select, .form-cols3 input.text, .form-cols3 textarea {
  width: 190px
}

.form-cols2 {
  width: 47%;
  margin-right: 2%;
  float: left;
  display: inline;
  padding-bottom: 20px;
}

.form-cols2 select, .form-cols2 input.text, .form-cols2 textarea {
  width: 250px
}

.form-cols1 {
  width: 99%;
  float: left;
  display: inline;
  padding-bottom: 20px;
}