
.catSelectNav {
    float: left;
    width: 220px;
    margin-right: 20px;
}

#help {
    margin-top: 30px;
}

div.link {
    margin-top: 5px;
}

#fnSearchResults li {
    padding: 0px;
}

.searchcriteria-box {
    border-top: 2px solid #0AACFD;
    padding: 0;
}

.search .search-area {
    float: right;
    margin-bottom: 5px;
    width: 700px;
    padding-bottom: 9px;
}

.search #searchResults, .search #notfound {
    clear: right;
    float: right;
    margin-bottom: 10px;
    width: 700px;
}

#fnSearchResults .fnResultDate {
    width: 120px;
}

/* TODO: combine these two with the multiproject.css */
/* #fncontent must be there for overriding */
#content .fnsearchArea #searchForProjects {
    float: left;
    height: 18px;
}

.search-area #searchProjectsBtn {
    width: 32px;
    height: 26px;
    float: left;
    background: url("/htdocs/theme/images/search.png") no-repeat scroll 0 0 transparent;
    border: none;
    padding: 0;
    margin: 0 0 0 1px;
    cursor: pointer;
}


#searchForProjects {
    float: left;
    height: 18px;
    padding: 3px 4px;
}

.info strong {
    font-weight: bold;
}

.pagination {
    float: right;
    color: #C7C5C1;
}

.pagination span {
    color: black;
    margin-left: 2px;
    margin-right: 2px;
}

.pagination .selected {
    background: #0066CC;
    color: white;
    margin-right: 3px;
    padding-right: 3px;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}

