<html xmlns:py="http://genshi.edgewall.org/" py:strip="True">

<?NOINDEX-START?>
<div id="headerContainer">
  <div id="headerComponent">
    <div id="headerLogo"><a href="/home"><img style="padding-top:10px;" src="/htdocs/theme/images/logo.png" alt="Logo"/></a></div>
    <div id="header">
      <div id="nDevHeaderLoginLogout">
      <py:choose>
        <div id="sitelogin" py:when="req.authname == 'anonymous'">
          <p>
	    <a id="signIn" href="home/user">Log in</a>
	  </p>
        </div>
        <div id="sitelogin" py:otherwise="">
          <p>                  
            <a href="home/prefs/basic">${req.authname}</a>
            <a id="signOut" href="home/user?action=logout">Log out</a>
          </p>
        </div>
      </py:choose>
      </div>
    </div>
  </div>
</div>
<?NOINDEX-END?>
    
</html>
