<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <!-- !<xi:include href="layout.html" /> -->
<?python
    from multiproject.core.configuration import Configuration
    conf = Configuration.instance()
    goto = req.base_url + req.path_info
?>
  <head>
    <meta http-equiv="refresh" content="0; url=${conf.url_home_path}/user?goto=${goto}" />
  </head>
  
  <body>
  </body>
</html>
