<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="True">

<div class="greyBgContainer" style="margin-left:10%;width:80%;">
    <div class="greyBgContent">
        <span style="font-weight: bold;">No posts</span>
        <br/>
        <py:if test="not userpage">
            Why not post something?
        </py:if>
    </div>
</div>

</html>
