<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="True">

<py:choose>
  <div py:when="len(projects) > 0" class="greyBgContainer">
    <div class="greyBgContent">
      <py:if test="not userpage">
        <strong>Boy you are good at squashing bugs,</strong><br/>
        why not check your projects and start working on more?
      </py:if>
      <py:if test="userpage">
        <strong>No tickets</strong>
      </py:if>
    </div>
  </div>
  <div py:otherwise="" class="greyBgContainer" style="margin-left:10%;width:80%;">
    <div class="greyBgContent">
      <py:if test="not userpage">
        <strong>What's going on? Are you slacking?</strong><br/>
        Why not check out some open tickets and get some work done?
      </py:if>
      <py:if test="userpage">
        <strong>No tickets</strong>
      </py:if>
    </div>
  </div>
</py:choose>

</html>
