<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
    <!--! Place mergeable css+js resources in this file -->
    <link rel="stylesheet" type="text/css" href="${conf.theme_htdocs_location}/css/ui.css" />
    <link rel="stylesheet" type="text/css" href="${conf.theme_htdocs_location}/css/core.css" />
    <link rel="stylesheet" type="text/css" href="${conf.theme_htdocs_location}/css/admin.css" />
    <link rel="stylesheet" type="text/css" href="${conf.theme_htdocs_location}/css/timeline.css" />
    <link rel="stylesheet" type="text/css" href="${conf.theme_htdocs_location}/css/components.css" />
    <link rel="stylesheet" type="text/css" href="${conf.theme_htdocs_location}/css/myprojects.css" />
    <link rel="stylesheet" type="text/css" href="${conf.theme_htdocs_location}/css/admin_usergroups.css" />
    <link rel="stylesheet" type="text/css" href="${conf.theme_htdocs_location}/css/tickets.css" />
    <link rel="stylesheet" type="text/css" href="${conf.theme_htdocs_location}/css/wikitoolbar.css" />
    <link rel="stylesheet" type="text/css" href="${conf.theme_htdocs_location}/css/pagination.css" />
    <link rel="stylesheet" type="text/css" href="${conf.theme_htdocs_location}/css/theme.css" />
    <script type="text/javascript" src="${conf.theme_htdocs_location}/js/jquery-1.4.1.min.js" />
    <script type="text/javascript" src="${conf.theme_htdocs_location}/js/jquery.easing-1.3.pack.js" />
    <script type="text/javascript" src="${conf.theme_htdocs_location}/js/jquery.cookie.js" />
    <script type="text/javascript" src="${conf.theme_htdocs_location}/js/swfobject-2.2.js" />
    <script type="text/javascript" src="${conf.theme_htdocs_location}/js/jquery.tooltip.min.js" />
    <script type="text/javascript" src="${conf.theme_htdocs_location}/js/jquery.roundabout.min.js" />
    <script type="text/javascript" src="${conf.theme_htdocs_location}/js/jquery.roundabout-shapes.min.js" />
    <script type="text/javascript" src="${conf.theme_htdocs_location}/js/site.js" />
</html>