<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

<?python
from multiproject.core.configuration import conf
from genshi.filters import HTMLSanitizer
from genshi.input import HTML

environment_name = req.base_path.split('/')[-1]
welcome_page = req.path_info == '/' and environment_name == 'home'
is_home = environment_name == 'home'
is_project = not is_home

def sane(stri):
    return str(HTML(stri) | HTMLSanitizer())

?>

<!--  function definitions -->
  <div py:def="navigation(category)" id="${category}" class="nav">
    <ul py:if="chrome.nav[category]">
      <li py:for="idx, item in  enumerate(chrome.nav[category])"
          class="${classes(first_last(idx, chrome.nav[category]), active=item.active)}">${item.label}</li>
    </ul>
  </div>


    <div py:def="main_navigation(category)" >
        <ul py:if="chrome.nav[category]" id="tabbedNavigation" class="clearfix">
            <li py:for="idx, item in  enumerate(chrome.nav[category])"
                class="${classes(first_last(idx, chrome.nav[category]), selected=item.active, active=item.active)}">${item.label}</li>
        </ul>
    </div>

<!--  body starts here -->
  <py:match path="body" once="true" buffer="false"><body>

    <h1 class="project_heading" py:if="is_project">
        <a href="${req.base_path}">
            <img src="${sane(req.base_path)}/projecticon?environment_name=${sane(req.base_path).rsplit('/',1)[1]}" id="projecticon" alt="" />
        </a>
        <a href="${req.base_path}">${project.name}</a>
    </h1>
    
    <!-- ! Select navigation bar -->
    <div py:if="is_project">
        ${main_navigation('mainnav')}
    </div>
    
    <div id="main">
      <div id="ctxtnav" class="nav" py:if="len(chrome.ctxtnav) > 0" style="position:relative;">
        <div class="module" id="ctxtnavitems">
          <ul>
            <py:for each="i, elm in enumerate(chrome.ctxtnav)">
              <li class="${classes(first_last(i, chrome.ctxtnav))}">$elm</li>
              <py:if test="len(chrome.ctxtnav) > (i+1)"><li>|</li></py:if>
            </py:for>
          </ul>
        </div>
      </div>
<!--  warnings and notices -->
      <div id="warning" py:if="chrome.warnings" class="system-message">
        <py:choose test="len(chrome.warnings)">
          <strong>Warning:</strong>
          <py:when test="1">${chrome.warnings[0]}</py:when>
          <py:otherwise><ul><li py:for="warning in chrome.warnings">$warning</li></ul></py:otherwise>
        </py:choose>
      </div>
      <div id="notice" py:if="chrome.notices" class="system-message">
        <py:choose test="len(chrome.notices)">
          <py:when test="1">${chrome.notices[0]}</py:when>
          <py:otherwise><ul><li py:for="notice in chrome.notices">$notice</li></ul></py:otherwise>
        </py:choose>
      </div>

<!--  actual content -->
      ${select('*|text()')}
    </div>
  </body></py:match>
</html>
