<div py:if="not login_page" xmlns:py="http://genshi.edgewall.org/" id="banner">
    <!--  logo -->
    <div>
          <div id="header" py:choose="">
            <a py:when="chrome.logo.src" id="logo" href="${chrome.logo.link or href.wiki('TracIni')+'#header_logo-section'}"><img
              src="${chrome.logo.src}" alt="${chrome.logo.alt}"
              height="${chrome.logo.height or None}" width="${chrome.logo.width or None}" /></a>
            <h1 py:otherwise="">
                <a href="${chrome.logo.link}">${project.name}</a>
            </h1>
          </div>
    </div>
    <!--  search box -->
    <div>
      <form id="search" action="${href.search()}" method="get">
        <div py:if="'SEARCH_VIEW' in perm and is_project">
          <label for="proj-search">Search:</label>
          <input type="text" id="proj-search" name="q" size="18" accesskey="f" value="" />
          <span class="fnButton">
            <input type="submit" value="${_('Search')}" />
          </span>
        </div>
      </form>
    </div>
</div>