<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:strip="True">

  <div id="welcomeright">

    <!-- Recent projects -->
    <div class="resource-box" id="project-recent">
        ${wiki_to_html(context, '[[RecentProjects(count=5)]]')}
    </div>

    <!-- Most active projects -->
    <div class="resource-box" id="project-active">
        ${wiki_to_html(context, '[[ActiveProjects(count=5)]]')}
    </div>

    <!-- Featured projects -->
    <div class="resource-box" id="project-annoucements">
        ${wiki_to_html(context, '[[FeaturedProjects(count=5)]]')}
    </div>

    <!-- Projects' activities -->
    <div py:if="latest_events" class="resource-box">
      <h2 class="resources-title">
        <div class="headerRssLink">
          <a href="${baseurl}/home/globaltimeline.xml"></a>
        </div>
        Activities
      </h2>
      <ul id="welcome_global_timeline_items">
	<li py:for="event in latest_events" class="timeline_event ${classes(event.kind, False)}">
	  <div class="icon"></div>
	  <a href="${conf.url_projects_path}/${event.project_identifier}" title="${event.project_name}">
	    ${event.project_name}</a>
	  <a href="${event.url}" py:strip="len(str(event.url)) == 0">
	    ${event.render('title', context)}
	  </a>
	  <py:if test="event.author">
	    by <span class="author">${plaintext(format_author(event.author))}</span>
	  </py:if>
        </li>
        <li>
          <a class="more" href="${req.base_path}/globaltimeline" shape="rect">More Activities &gt;</a>
        </li>
      </ul>
    </div>

  </div>

</html>
